@tailwind base;
@tailwind components;
@tailwind utilities;

/* .sidebar-drawer {
  background-color: rgb(208, 143, 135);
} */

body {
  background-color: rgba(0, 0, 0, 0.926);
}
.carousel-image {
  transition: transform 0.2s ease;
}

.carousel-image:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}
